html {
    scroll-behavior: smooth;
    font-family: 'ubuntu mono', monospace !important;

}

body {
    background-color: #decdc9;
    color: #98655a !important;
    /* padding-bottom: 17.5em; */
}

/*Toggle Dark Mode*/
#dark-mode-btn {
    width: 2em;
    height: 2em;
    background: url(./images/lightbulb.svg) center no-repeat;
    border: 0;
}

.darkMode {
    background-color: #98655a !important;
    color: #decdc9 !important;
}

.progress-dark {
    background-color: #98655a !important;

}

.progress-bar-dark {
    background-color: #c9bfbd !important;
}


#godown {
    height: 3em;
}


.navbar {
    display: flex;
    /* justify-content: space-between; */
}

#container-nav {
    border-bottom: 0.1em #98655a solid;
    background-color: #decdc9;
}

.navbar-brand {
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 1.5em;
    /* text-transform: uppercase !important; */

    color: #98655a;
}

.navbar-brand h4 {
    padding: 0;
    margin: 0;
    color: #98655a
}

#navbarSupportedContent {
    font-size: 1.25rem;
    text-transform: uppercase !important;
}

.navbar-toggler {
    border: 0;

}

#canvas-header {
    background-color: #decdc9 !important;
}

#canvas-body {
    background-color: #decdc9 !important;
}

.navbar-toggler:focus {
    box-shadow: none;
    color: #98655a;
}

/* @keyframes toggleDeg {
    0% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(-90deg);
    }
} */

/* #container-about{
    margin-top: 5em;
} */

#top {
    border-bottom: 0.1em #98655a solid;
    padding-bottom: 4em !important;
}


.top-heading {
    font-size: 2.25em;
    margin-bottom: 0;
    text-transform: uppercase;
    padding-top: 0.25em;
    padding-bottom: 0.25em
}

.top-heading-ind {
    padding-top: 0;
    margin: 0;
    font-size: 2em;
    color: #decdc9;
    text-shadow: #5e3c34 4px 4px 9px;
}

.top-heading-ind:hover {
    text-shadow: #decdc9 4px 4px 9px;
    ;
    color: #5e3c34;
}

.top-para {
    padding-top: 1.25em;
    font-size: 1.25em;
}

.top-text {
    font-weight: 250;
}

a#top-btn {
    text-decoration: none;
    color: #98655a;
    padding-bottom: 0.35em;
    border-bottom: 0.175em solid #98655a;
}

a#top-btn:hover {
    text-shadow: #5e3c34 1px 1px 2px;
}

.display-photos i {
    font-size: 3em;
    width: 100%;
}

.display-icon {
    height: 2em;
    width: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-icon img{
    width: 2em;
    height: 2em;
    
}

#skills {
    border-bottom: 0.1em #98655a solid;
    padding-top: 2em;
    padding-bottom: 3em;

}

.progress {
    background-color: #c9bfbd;

}

.progress-bar {
    background-color: #98655a;
}



.card {
    border: 0.1em solid;
    border-radius: 0;
    background-color: #f0e3e0;
}

.card-text {
    margin-bottom: 1.5em;
}

#card-group {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: flex-start;
}

#card-box {
    list-style: none;
    padding: 0.5em;
    margin-right: 1em;
    margin-bottom: 1em;
    font-size: 0.8em;
    border: #98655a 0.1em solid;

}

#card-box:hover {
    cursor: default;
    background-color: #98655a;
    color: #ffffff
}


#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #98655a;

}

#contact h1 {
    padding-top: 1em;
    color: #decdc9;
    display: flex;
    justify-content: center;
    font-size: 3em;
    text-align: center;
}

#contact-para {
    color: #decdc9;
    font-size: 1.25em;
    font-weight: 250;
    ;
}


.contact-photos-group {
    display: flex;
    justify-content: center;

}

.contact-photos {
    display: inline-flex;
    width: 2em;
}





.email-btn {
    padding-top: 2em;
    display: flex;
    justify-content: center;
}

.email-btn a {
    padding: 1em;
    text-decoration: none;
    color: #fcfcfc;
    border-top: #c9bfbd 0.15em solid;
    border-left: #c9bfbd 0.15em solid;
    border-right: #2f2928 0.15em solid;
    border-bottom: #2f2928 0.15em solid;

}

.email-btn a:active {
    background-color: #d8cfcd;
    color: #2f2928;
    border-top: #c9bfbd 0.15em solid;
    border-left: #c9bfbd 0.15em solid;
    border-right: #2f2928 0.15em solid;
    border-bottom: #2f2928 0.15em solid;

}


#footer {
    padding-top: 1rem;
    padding-left: 1.5rem;
    position: fixed;

    /* background-color: rgb(76, 75, 75);
    color: azure; */


}

#footer-list {

    font-size: 1rem;
    text-decoration: none;
    list-style: none;
    padding-left: .5rem;

    display: flex;
    flex-direction: column;

}

#footer-items {
    color: #f8f9fa;
    text-decoration: none;


}



#display-box {
    display: flex;

}



@keyframes slide {
    0% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(90);
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    #godown {
        height: 5.2em;
    }

    #top {
        /* border-left: #98655a 0.15em solid; */
        border-right: #98655a 0.075em solid;
        border-bottom: #98655a 0.15em solid;
        padding-left: 2em !important;
    }

    #display-box {
        display: flex;
        justify-content: center;
        align-items: center;

        /* border-right: #98655a 0.15em solid; */
        border-left: #98655a 0.075em solid;
        border-bottom: #98655a 0.15em solid;

        overflow: hidden;

    }

    .col-md-4 {
        padding: 2em;
        border-right: #98655a 0.075em solid;
        border-bottom: #98655a 0.15em solid;
        padding-left: 2em !important;
    }

    .col-md-8 {
        padding: 2em;
        border-left: #98655a 0.075em solid;
        border-bottom: #98655a 0.15em solid;

    }


    #about {
        padding-left: 2em !important;
        padding-right: 2em !important;


    }

}