body {
    display: flex;
    flex-wrap: wrap;
    font-family: 'IBM Plex Mono', monospace;
    justify-content: center;



}

.banner {
    background-color: grey;
    width: 100%;
    height:5em;
    display: flex;
    justify-content: center;
    align-items: center;
}


#canvas {
    padding-top: 3em;
    padding-bottom: 3em;

}

.controls {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}